<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP PRÁCTICA BACKEND-FRONTEND - Bolanho Alejo Eloy</title>
</head>
<body class="bg-light">
    <div class="container d-flex flex-column align-items-center mt-5">
        <h1 class="mb-4">PRÁCTICA BACKEND-FRONTEND</h1>
        <h2 class="mb-4">Bolanho Alejo Eloy</h2>
        <div class="d-flex flex-column align-items-center">
            <button type="button" class="btn btn-primary btn-lg mb-3" onclick="location.href='/productos'">Producto</button>
            <button type="button" class="btn btn-secondary btn-lg mb-3" onclick="location.href='/moneda'">Transacciones</button>
            <button type="button" class="btn btn-success btn-lg mb-3" onclick="location.href='/ticket'">Ticket</button>
        </div>
    </div>
</body>
</html>
